<%= form_for([@user, @collection]) do |f| %>
  <% if @collection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@collection.errors.count, "error") %> prohibited this collection from being saved:</h2>

      <ul>
      <% @collection.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= f.text_field :title, :class => 'mdl-textfield__input' %>
      <%= f.label :title, :class => 'mdl-textfield__label' %>
    </div>
  </div>
  <div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= f.text_area :description, :class => 'mdl-textfield__input' %>
      <%= f.label :description, :class => 'mdl-textfield__label' %>
    </div>
  </div>
  <div class="field">
    <%= f.hidden_field :user_id%>
  </div>
  <div class="actions">
    <%= f.submit 'Submit', :class => 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent'  %>
  </div>
<% end %>
