<h1>Listing Collections</h1>

<%= form_tag collections_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag 'Search', :name => nil %>
  </p>
<% end %>

<% if not @collections.present? %>
  Not found
<% else %>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>User</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @collections.each do |collection| %>
        <tr>
          <td><%= link_to collection.title, user_collection_path(collection.user, collection) %></td>
          <td><%= collection.description %></td>
          <td><%= link_to collection.user.username, user_path(collection.user) %></td>
          <% if user_signed_in? and collection.user == current_user %>
            <td><%= link_to 'Edit', edit_user_collection_path(collection.user, collection) %></td>
            <td><%= link_to 'Destroy', user_collection_path(collection.user, collection), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
