<h2>Listing Collections</h2>

<%= form_tag collections_path, :method => 'get' do %>
  <div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= text_field_tag :query, params[:query], :class => 'mdl-textfield__input' %>
      <label for="query" class="mdl-textfield__label">
        <i class="material-icons">search</i>
      </label>
    </div>
  </div>
<% end %>

<% if not @collections.present? %>
  Not found
<% else %>
  <table class="mdl-data-table mdl-js-data-table">
    <thead>
      <tr>
        <th class='mdl-data-table__cell--non-numeric'>User</th>
        <th class='mdl-data-table__cell--non-numeric'>Title</th>
        <th class='mdl-data-table__cell--non-numeric'>Description</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @collections.each do |collection| %>
        <tr>
          <td class='mdl-data-table__cell--non-numeric'><%= link_to collection.user.username, user_path(collection.user) %></td>
          <td class='mdl-data-table__cell--non-numeric'><%= link_to collection.title, user_collection_path(collection.user, collection) %></td>
          <td class='mdl-data-table__cell--non-numeric'><%= collection.description %></td>
          <% if user_signed_in? and collection.user == current_user %>
            <td><%= link_to 'Edit', edit_user_collection_path(collection.user, collection) %></td>
            <td><%= link_to 'Destroy', user_collection_path(collection.user, collection), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
