<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @collection.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @collection.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @collection.user %>
</p>

<% if @texts.present? %>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Body</th>
        <th>Description</th>
        <% if user_signed_in? and @user == current_user %>
          <th colspan="2"></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @texts.each do |text| %>
        <tr>
          <td><%= link_to text.title, user_collection_text_path(@user, @collection, text) %></td>
          <td><%= text.body %></td>
          <td><%= text.description %></td>
          <% if user_signed_in? and @user == current_user %>
            <td><%= link_to 'Edit', edit_user_collection_text_path(@user, @collection, text) %></td>
            <td><%= link_to 'Destroy', user_collection_text_path(@user, @collection, text), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>


<% if user_signed_in? and @user == current_user %>
  <h1>New Text</h1>
  <%= render 'texts/form' %>

  <%= link_to 'Edit', edit_user_collection_path(@collection.user, @collection) %> |
<% end %>

<%= link_to 'Back', user_collections_path %>
