<h1><%= @user.username %>'s page</h1>

<% if @collections.present? %>
  <table cellspacing="0" class="mdl-data-table mdl-js-data-table">
  <tr>
    <td class='mdl-data-table__cell--non-numeric'>Collection</td>
    <td class='mdl-data-table__cell--non-numeric'>Description</td>
    <td class='mdl-data-table__cell--non-numeric'>created at</td>
    <% if user_signed_in? and @user == current_user %>
      <th colspan="2"></th>
    <% end %>
  </tr>
  <% @collections.each do |collection| %>
    <tr>
      <td class='mdl-data-table__cell--non-numeric'><%= link_to truncate(collection.title, omission: '...', length: 15), user_collection_path(collection.user, collection) %></td>
      <td class='mdl-data-table__cell--non-numeric'><%= truncate(collection.description, omission: '...', length: 15) %></td>
      <td class='mdl-data-table__cell--non-numeric'><%= collection.created_at %></td>
      <% if user_signed_in? and @user == current_user %>
        <td><%= link_to 'Edit', edit_user_collection_path(collection.user, collection) %></td>
        <td><%= link_to 'Destroy', user_collection_path(collection.user, collection), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
  <% end %>
  </table>
<% end %>

<% if user_signed_in? and @user == current_user %>
  <h3>New Collection</h3>
  <%= render 'collections/form' %>
<% end %>
