<% if @newest_collections.present? %>
  <h2>Newest collections</h2>

  <table cellspacing="0" class="mdl-data-table mdl-js-data-table">
  <tr>
    <td class='mdl-data-table__cell--non-numeric'>User</td>
    <td class='mdl-data-table__cell--non-numeric'>Title</td>
    <td class='mdl-data-table__cell--non-numeric'>Description</td>
    <td class='mdl-data-table__cell--non-numeric'>created at</td>
  </tr>
  <% @newest_collections.each do |collection| %>
    <tr>
      <td class='mdl-data-table__cell--non-numeric'><%= link_to collection.user.username, user_path(collection.user) %></td>
      <td class='mdl-data-table__cell--non-numeric'><%= link_to truncate(collection.title, omission: '...', length: 15), user_collection_path(collection.user, collection) %></td>
      <td class='mdl-data-table__cell--non-numeric'><%= truncate(collection.description, omission: '...', length: 25) %></td>
      <td class='mdl-data-table__cell--non-numeric'><%= collection.created_at %></td>
    </tr>
  <% end %>
  </table>
<% end %>

<h2>Usertyping Stats</h2>

<p>
  <ul>
    <% if @n_of_collections.present? %>
      <li>The number of collections: <span style='font-size: 200%;'><%= @n_of_collections =%></span></li>
    <% end %>
    <% if @n_of_users.present? %>
      <li>The number of users: <span style='font-size: 200%;'><%= @n_of_users =%></span></li>
    <% end %>
  </ul>
</p>
