<% if @newest_collections.present? %>
  <h2>Newest newest_collections</h2>

  <table cellspacing="0">
  <tr>
    <td>User</td>
    <td>Title</td>
    <td>Description</td>
    <td>created at</td>
  </tr>
  <% @newest_collections.each do |collection| %>
    <tr>
      <td><%= link_to collection.user.username, user_path(collection.user) %></td>
      <td><%= link_to collection.title, user_collection_path(collection.user, collection) %></td>
      <td><%= collection.description %></td>
      <td><%= collection.created_at %></td>
    </tr>
  <% end %>
  </table>
<% end %>

<h2>Usertyping Stats</h2>

<p>
  <ul>
    <% if @n_of_collections.present? %>
      <li>The number of collections: <span style='font-size: 200%;'><%= @n_of_collections =%></span></li>
    <% end %>
    <% if @n_of_users.present? %>
      <li>The number of users: <span style='font-size: 200%;'><%= @n_of_users =%></span></li>
    <% end %>
  </ul>
</p>
