<h1>User typing</h1>

<div>
  <% if user_signed_in? %>
    Logged in as <strong><%= current_user.email %></strong>.
    <%= link_to "Settings", edit_user_registration_path, :class => "navbar-link" %> |
    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => "navbar-link" %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link' %> |
    <%= link_to "Login", new_user_session_path, :class => 'navbar-link' %>
  <% end %>
</div>

<p>
  The time is now: <%= Time.now %>
</p>


<% if @collections.present? %>
  <h2>Newest Collections</h2>

  <table cellspacing="0">
  <tr>
    <td>Title</td>
    <td>Description</td>
    <td>created at</td>
  </tr>
  <% @collections.each do |collection| %>
    <tr>
      <td><%= link_to collection.title, user_collection_path(collection.user, collection) %></td>
      <td><%= collection.description %></td>
      <td><%= collection.created_at %></td>
    </tr>
  <% end %>
  </table>
<% end %>
