<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @text.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @text.body %>
</p>

<p>
  <strong>Description:</strong>
  <%= @text.description %>
</p>

<p>
  <strong>Collection:</strong>
  <%= @text.collection %>
</p>


<% if user_signed_in? and @user == current_user %>
  <%= link_to 'Edit', edit_user_collection_text_path(@user, @collection, @text) %> |
<% end %>

<%= link_to 'Back', user_collection_path(@user, @collection) %>
