<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @text.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @text.body %>
</p>

<p>
  <strong>Description:</strong>
  <%= @text.description %>
</p>

<p>
  <strong>Collection:</strong>
  <%= @text.collection %>
</p>

<%= link_to 'Edit', edit_user_collection_text_path(@user, @collection, @text) %> |
<%= link_to 'Back', user_collection_texts_path %>
