<!DOCTYPE html>
<html>
<head>
  <title>Usertyping</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div>
    <nav style='float: right;'>
      <ul style='margin-top: 0; list-style: none;'>
          <li style='display: inline-block; margin-left: 10px'>
            <%= form_tag collections_path, :method => 'get' do %>
              <%= text_field_tag :query, params[:query] %>
              <%= submit_tag 'Search', :name => nil %>
            <% end %>
          </li>
        <% if user_signed_in? %>
          <li style='display: inline-block; margin-left: 10px'><%= link_to current_user.username, user_path(current_user) %></li>
          <li style='display: inline-block; margin-left: 10px'><%= link_to "Settings", edit_user_registration_path, :class => "navbar-link" %></li>
          <li style='display: inline-block; margin-left: 10px'><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => "navbar-link" %></li>
        <% else %>
          <li style='display: inline-block; margin-left: 10px'><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link' %></li>
          <li style='display: inline-block; margin-left: 10px'><%= link_to "Login", new_user_session_path, :class => 'navbar-link' %></li>
        <% end %>
      </ul>
    </nav>
    <h1><%= link_to 'Usertyping', root_path =%></h1>
    <hr>
  </div>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= yield %>

</body>
</html>
